@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #12112e;
  --secondary-color: #e1d2f3;
  --secondary-color-dark: #c4b0e0;
  --text-dark: #0d1319;
  --text-light: #dcd6e0;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--white);
  font-family: "Poppins", sans-serif;
}

/* Header */
header {
  height: 100vh;
  background: linear-gradient(135deg, #12112e, #1a193d, #e1d2f3);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
}
.header__container p {
  font-size: 1.2rem;
  color: var(--text-light);
  margin: 0.2rem 0;
}
.header__container p span {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 0.3rem 0.7rem;
  border-radius: 5px;
}
.header__container h1 {
  font-size: 4rem;
  font-weight: 700;
  margin: 0.2rem 0;
  margin: 0.2rem 0 1rem 0;
}

.home-actions {
  margin-top: 1rem; 
  justify-content: center;
  gap: 0.5rem; 
}
.header__container h2 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--secondary-color);
  margin-bottom: 1.5rem;
}

/* Profile image */
.profile-image {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid var(--secondary-color);
  box-shadow: 0 10px 20px rgba(225, 210, 243, 0.4),
    0 0 30px rgba(225, 210, 243, 0.2); /* soft glow */
  transition: transform 0.3s, box-shadow 0.3s;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-image:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 25px rgba(225, 210, 243, 0.6),
    0 0 40px rgba(225, 210, 243, 0.3);
}

/* download cv */
.home-actions {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.download-cv {
  background: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 50px; /* Rounded pill shape */
  padding: 0.8rem 1.5rem;
}

.download-cv:hover {
  background: var(--secondary-color-dark);
  color: var(--white);
}

.social-links {
  display: flex;
  gap: 1.2rem;
}

.social-links a {
  width: 45px;
  height: 45px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  background: rgba(225, 210, 243, 0.1);
  font-size: 1.3rem;
  color: var(--secondary-color);
  transition: all 0.7s ease;
}

.social-links a:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
  transform: rotate(360deg);
  box-shadow: 0 10px 20px rgba(225, 210, 243, 0.4),
    0 0 30px rgba(225, 210, 243, 0.2);

}

/* Navbar Styling */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #09001d;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  z-index: 1000;
}

.nav__links {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav__links li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.09rem;
  position: relative;
  display: inline-block;
  transition: color 0.3s ease, transform 0.3s ease;
  margin-top: 15px;
}

.nav__links li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -4px;
  background-color: var(--secondary-color);
  transition: width 0.3s ease;
}

.nav__links li a:hover {
  color: var(--secondary-color);
  transform: scale(1.1);
}

.nav__links li a:hover::after {
  width: 100%;
}

.nav__links li a.active {
  color: var(--secondary-color);
}

.nav__links li a.active::after {
  width: 100%;
  background-color: var(--secondary-color-dark);
}

/* Hamburger menu  */

.menu-toggle {
  display: none;
}

.nav__toggle {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 25px;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .nav__links {
    position: absolute;
    top: 100%;
    left: -100%;
    background: #111;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 20px 0;
    transition: left 0.3s ease-in-out;
  }

  .menu-toggle:checked ~ .nav__links {
    left: 0;
  }

  .nav__toggle {
    display: flex;
  }
}

/* Sections */
.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.section__subtitle {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}
.position {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid black;
  width: 0;
  animation: typing 3s steps(20,end) forwards infinite, blink 0.7s infinite;
}

@keyframes typing{
  from{
    width: 0;
  }
  to {
    width: 19ch;
  }
}
@keyframes blink{
  50% {
    border-color: transparent;
  }
}

/* Buttons */
.btn {
  padding: 1rem;
  font-size: 0.9rem;
  font-weight: 600;
  outline: none;
  border: none;
  border-radius: 5px;
  color: var(--white);
  background-color: var(--secondary-color);
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--secondary-color-dark);
}

a {
  text-decoration: none;
  color: var(--white);
}

/*  */
/* About */
.about{
  background-color: var(--text-dark);
}

.about__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about__content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about__details {
  padding: 2rem 0;
  color: var(--text-light);
  text-align: center;
}

/* Skills Section */
.skills-section {
  background-color: var(--primary-color);
  padding: 5rem 0;
}
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.skill-card {
  background: rgba(225, 210, 243, 0.1);
  padding: 2rem;
  border-radius: 15px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.skill-card:hover {
  transform: translateY(-10px) rotate(2deg) scale(1.05);
  box-shadow: 0 15px 35px rgba(225, 210, 243, 0.2);
  background: rgba(225, 210, 243, 0.15);
}


.skill-icon {
  font-size: 3rem;
  color: var(--secondary-color);
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}

.skill-card:hover .skill-icon {
  transform: scale(1.2) rotateY(180deg);
  color: var(--primary-color);
}

.skill-card h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
  color: var(--secondary-color);
}

.skill-card:hover h3 {
  color: var(--primary-color);
  transform: skewX(-5deg);
}

.skill-card p {
  color: var(--secondary-color);
  transition: all 0.3s ease;
}

.skill-card:hover p {
  color: var(--primary-color);
}

@media (min-width: 768px) {
  .skills-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* PROJECT SECTION */
.project {
  background-color: var(--text-dark);
  padding: 4rem 0;
}

/* PROJECT TAGS */
.project__tags {
  display: flex;
  gap: 8px;
  margin: 0.4rem 0 0.8rem;
  flex-wrap: wrap;
}

.project__tags span {
  background: var(--primary-color);
  border: 1px solid var(--secondary-color-dark);
  color: var(--secondary-color);
  padding: 3px 10px;
  font-size: 0.75rem;
  border-radius: 12px;
  transition: 0.3s ease;
}

.project__card:hover .project__tags span {
  background: var(--secondary-color-dark);
  color: var(--text-dark);
}

/* GRID */
.project__grid {
  display: grid;
  gap: 2rem;
  margin-top: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/* CARD */
.project__card {
  background: var(--primary-color);
  border-radius: 16px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

/* IMAGE TOP */
.project__img {
  height: 180px;
  width: 100%;
  overflow: hidden;
}

.project__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

/* HOVER EFFECT */
.project__card:hover img {
  transform: scale(1.1);
  opacity: 0.7;
}

.project__card:hover {
  transform: scale(1.04);
  box-shadow: 0 15px 35px rgba(225, 210, 243, 0.35);
}

/* DETAILS */
.project__details {
  padding: 1rem 1.2rem;
  color: var(--secondary-color);
}

.project__details h3 {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
  color: var(--secondary-color);
}

.project__details p {
  font-size: 0.9rem;
  color: var(--secondary-color-dark);
  margin-bottom: 0.8rem;
}

/* GITHUB ICON */
.github-btn {
  font-size: 1.6rem;
  color: var(--secondary-color);
  transition: 0.3s ease;
}

.github-btn:hover {
  color: var(--white);
}

/* DESKTOP */
@media (min-width: 768px) {
  .project__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}



/* Footer */
footer {
  background-color: var(--primary-color);
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.footer__details {
  font-size: 0.8rem;
  color: var(--text-light);
  margin: 2rem 0;
  display: grid;
  gap: 1rem;
}

.social__icons {
  display: flex;
  gap: 1.2rem;
}

.social__icons .icon {
  width: 45px;
  height: 45px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  background: rgba(225, 210, 243, 0.1);
  font-size: 1.3rem;
  color: var(--secondary-color);
  transition: all 0.7s ease;
  cursor: pointer;
}

.social__icons .icon:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
  transform: rotate(360deg);
  box-shadow: 0 10px 20px rgba(225, 210, 243, 0.4),
    0 0 30px rgba(225, 210, 243, 0.2);
}

.footer__form {
  display: grid;
  gap: 1rem;
}

.footer__form :is(input, textarea) {
  padding: 1rem;
  background-color: var(--text-dark);
  outline: none;
  border: none;
  border-radius: 5px;
  color: var(--white);
}

.footer__form textarea {
  resize: none;
  font-family: "Poppins", sans-serif;
}

.footer__form button {
  width: max-content;
}


@media (min-width: 640px) {
  .section__title {
    font-size: 2.5rem;
  }

  .header__container p {
    margin: 2rem 0;
  }

  .header__container h1 {
    font-size: 4rem;
    line-height: 4rem;
  }

  .action__btns {
    gap: 2rem;
  }

  .about__container {
    flex-direction: row;
  }

  .about__content {
    align-items: flex-start;
  }

  .about__details {
    text-align: left;
  }

  .project__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .header__container h1 {
    font-size: 5rem;
    line-height: 5rem;
  }

  .project__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
